<div class="card {% block  block_type %}{% endblock %}" >
    <div class="card-header bordered">
        <div class="header-block">
            <h3 class="title"> {% block  block_title %}{% endblock %} </h3>
        </div>
        <div class="header-block pull-right">
            {% block  block_button %}{% endblock %}
        </div>
    </div>
    <div class="card-block">
            {% block  block_body %}{% endblock %}
            {% block block_footer %}{% endblock %}
    </div>
</div>