<!DOCTYPE html>

<html class="no-js" lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Litigo login</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="{{ asset('bundles/template/modular-admin/css/vendor.css') }}">
    <!-- Theme initialization -->
    <link rel="stylesheet" id="theme-style" href="{{ asset('bundles/template/modular-admin/css/app.css') }}">
    {#<style type="text/css">.jqstooltip { position: absolute;left: 0px;top: 0px;visibility: hidden;background: rgb(0, 0, 0) transparent;background-color: rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";color: white;font: 10px arial, san serif;text-align: left;white-space: nowrap;padding: 5px;border: 1px solid white;box-sizing: content-box;z-index: 10000;}.jqsfield { color: white;font: 10px arial, san serif;text-align: left;}</style></head>#}
<body class="loaded">


{% block fos_user_content %}
{% endblock fos_user_content %}





<script src="{{ asset('bundles/template/modular-admin/js/vendor.js') }}"></script>
<script src="{{ asset('bundles/template/modular-admin/js/app.js') }}"></script>

<div class="responsive-bootstrap-toolkit"><div class="device-xs 				  hidden-sm-up"></div>
    <div class="device-sm hidden-xs-down hidden-md-up"></div><div class="device-md hidden-sm-down hidden-lg-up"></div>
    <div class="device-lg hidden-md-down hidden-xl-up"></div><div class="device-xl hidden-lg-down			  "></div></div>

</body>
</html>

